div{
    background-color: cadetblue;
    padding: 5px;
    margin-bottom: 10px;
    
}

h3{
    font-size: 50px;
}
p{
    font-size: 30px;
}

 .first{
    font-family: sans-serif;
    font-style: italic;
    text-decoration: underline;
    
 }
 .second{
    font-family: sans-serif;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
 }